h1 {
    color: chartreuse;
}

h2 {
    background-color: yellow;
}

p {
    background-color: aqua;
}

p.no {
    background-color: red;
    font-size: 40px;
    color: chartreuse;
    padding: 20px;
}